[submodule "vendor/exec-path-from-shell"]
	path = vendor/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell
[submodule "vendor/elpy"]
	path = vendor/elpy
	url = git@github.com:jorgenschaefer/elpy
