[submodule "lisp/vendor/elpy"]
	path = lisp/vendor/elpy
	url = git@github.com:jorgenschaefer/elpy
[submodule "lisp/vendor/exec-path-from-shell"]
	path = lisp/vendor/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell
